.cart {
    margin: 80px auto;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

.cart td {
    padding: 10px 5px;
}

.cart td input {
    width: 50px;
    height: 30px;
    padding: 5px;
}

.cart td a {
    color: #ff523b;
    font-size: 12px;
}

.cart td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    margin-top: 5px;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}